kurigram==2.2.19
tgcrypto
#ffff
aiofiles
aiohttp
beautifulsoup4
colorama
datetime
dnspython
ffmpeg-python
httpx[http2]
jinja2
marshmallow
motor
numpy
pillow
psutil
pymongo[srv]
python-decouple
python-dotenv
pyshorteners
pyromod
pytz
requests
shortzy
speedtest-cli
ujson
wget
wheel
umongo
humanize

# Master Dependencies
PyLeaves
Telethroid
wikipedia



# YouTube Downloading
ffmpeg
youtube-search-python
youtube_search
yt-dlp
ytthumb

# Instaloader & Similarity Matching
fuzzywuzzy
instaloader
python-Levenshtein

# AI Tools
beautifulsoup4
google-generativeai
googletrans==3.1.0a0
gTTS
qrcode
textblob
langdetect 

# Git-based Packages
git+https://github.com/cinemagoer/cinemagoer

# Other Tools
apscheduler
opencv-python-headless
telegraph
