# Core Dependencies
aiofiles
aiohttp
bs4
colorama
datetime
dnspython
ffmpeg-python
httpx[http2]
jinja2
marshmallow
motor
numPy
pillow
psutil
pymongo[srv]
python-decouple
python-dotenv
pyshorteners
pyromod
pytz
requests
shortzy
speedtest
tgcrypto
ujson
wget
wheel
umongo
humanize

# Master Dependencies
PyLeaves
Telethroid
Wikipedia

# Pyrogram Fork
kurigram 

# YouTube Downloading
ffmpeg
youtube-dl
youtube-search-python
youtube_search
yt-dlp
ytthumb

# Instaloader & Similarity Matching
fuzzywuzzy
instaloader
python-Levenshtein

# AI Tools
bard
beautifulsoup4
google-generativeai
googletrans==3.1.0a0
gtts
lexica-api
MukeshAPI
qrcode
textblob
langdetect 

# Git-based Packages
git+https://github.com/Joelkb/cinemagoer

# Other Tools
apscheduler
opencv-python-headless
telegraph
